@charset "UTF-8";
/* Uebungswebsite, Ella Froese
   17.05.2021 */


/* Gesammtes HTML File */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* CSS für den Navigationsbereich*/
#mynav {
    margin: 5px;
    padding: 10px;
    border-right: 5px;
    background-color: rgb(171, 202, 238);
    position: absolute;
    top: 0;
    width: 97%;
    position: fixed;
}

nav {
    border-bottom: 3px solid black;
}

.navi ol{
    list-style-type: none;
    padding-left: 0%;
}

.navi{
    display: inline-block;
}

    /* Links im Nav Bereich */

nav ol li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

li a {
    display: block;
    padding: 10px 16px;
}

li a:hover {
    background-color: rgb(141, 159, 180);
    color: white;
    border-radius: 6px;
    letter-spacing: 2px;
}



/* CSS für den Bodybereich --> Home Seite*/
#myBody {
    position: absolute;
    margin: auto;
    background-color: lightblue;
    position: absolute;
    left: 15px;
    top: 140px;
    height: 100%;
    width: 98%;
}

#bodyLinks {
    margin:10px;
    padding: 10px;
    background-color: rgba(212, 128, 251, 0.596);
    height: 30%;
    width: 98.6%;
}

#bodyMitte {
    margin: 10px;
    padding: 10px;
    background-color: rgba(145, 80, 231, 0.596);
    height: 35%;
    width: 98.6%;
}

#imgBlume{
    width: 10%;
}


/* CSS für den Bodybereich --> Kontakt Seite*/

#bodyKontakt {
    margin:10px;
    padding: 10px;
    background-color: rgba(212, 128, 251, 0.596);
    height: 60%;
    width: 98.6%;
}


/* CSS für den Bodybereich --> ÜBER UNS Seite*/

#bodyUeberUns {
    margin:10px;
    padding: 10px;
    background-color: rgba(71, 54, 167, 0.596);
    height: 60%;
    width: 98.6%;
}

#SOLogo {
    width: 20%;
}




/* CSS für den Footer */
#myFooter{
    width: 99.6%;
    height: 3%;
    padding: 25px;
    margin: auto;
    background-color: rgb(207, 169, 224);
    position: fixed;
    bottom: 0;
    left: 3px;
}

#myTextInFooter {
    text-align: right;
}





/* BIG SCREEN */
@media screen and (min-width:700px) {
    nav ol {
        display: flex;
    }

    nav ol li {
        position: relative;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

}




/* SMALL SCREENS */
@media screen and (max-width:700px){
	/* Navigation */
	nav ul li{
		border-top:1px solid #fff;
	}
}